In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("retail_sales_dataset_1.csv")

In [3]:
df.head

<bound method NDFrame.head of     Transaction ID;Date;Customer ID;Gender;Age;Product Category;Quantity;Price per Unit;Total Amount
0         1;24/11/2023;CUST001;Male;34;Beauty;3;50;150
1    2;27/02/2023;CUST002;Female;26;Clothing;2;500;...
2     3;13/01/2023;CUST003;Male;50;Electronics;1;30;30
3      4;21/05/2023;CUST004;Male;37;Clothing;1;500;500
4          5;6/05/2023;CUST005;Male;30;Beauty;2;50;100
..                                                 ...
995    996;16/05/2023;CUST996;Male;62;Clothing;1;50;50
996      997;17/11/2023;CUST997;Male;52;Beauty;3;30;90
997   998;29/10/2023;CUST998;Female;23;Beauty;4;25;100
998  999;5/12/2023;CUST999;Female;36;Electronics;3;...
999  1000;12/04/2023;CUST1000;Male;47;Electronics;4...

[1000 rows x 1 columns]>

In [4]:
df = pd.read_csv("retail_sales_dataset_1.csv", sep=";")

In [5]:
df.head

<bound method NDFrame.head of      Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  24/11/2023     CUST001    Male   34           Beauty
1                 2  27/02/2023     CUST002  Female   26         Clothing
2                 3  13/01/2023     CUST003    Male   50      Electronics
3                 4  21/05/2023     CUST004    Male   37         Clothing
4                 5   6/05/2023     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  16/05/2023     CUST996    Male   62         Clothing
996             997  17/11/2023     CUST997    Male   52           Beauty
997             998  29/10/2023     CUST998  Female   23           Beauty
998             999   5/12/2023     CUST999  Female   36      Electronics
999            1000  12/04/2023    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
2           1              30            30
3           1             500           500
4           2              50           100
..        ...             ...           ...
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[1000 rows x 9 columns]>

In [6]:
df.shape

(1000, 9)

In [7]:
df.colums

AttributeError: 'DataFrame' object has no attribute 'colums'

In [8]:
df.columns

Index(['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age',
       'Product Category', 'Quantity', 'Price per Unit', 'Total Amount'],
      dtype='object')

In [9]:
df.info

<bound method DataFrame.info of      Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  24/11/2023     CUST001    Male   34           Beauty
1                 2  27/02/2023     CUST002  Female   26         Clothing
2                 3  13/01/2023     CUST003    Male   50      Electronics
3                 4  21/05/2023     CUST004    Male   37         Clothing
4                 5   6/05/2023     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  16/05/2023     CUST996    Male   62         Clothing
996             997  17/11/2023     CUST997    Male   52           Beauty
997             998  29/10/2023     CUST998  Female   23           Beauty
998             999   5/12/2023     CUST999  Female   36      Electronics
999            1000  12/04/2023    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
2           1              30            30
3           1             500           500
4           2              50           100
..        ...             ...           ...
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[1000 rows x 9 columns]>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [11]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   datetime64[ns]
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 70.4+ KB

In [13]:
df.isnull().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df["Mes"] = df["Date"].dt.month

In [16]:
df["Año"] = df["Date"].dt.year

In [17]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Mes,Año
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,11,2023
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,2,2023
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,1,2023
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,5,2023
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,5,2023

In [18]:
df["Total Amount"].sum()

np.int64(456000)

In [19]:
ventas_por_mes = df.groupby("Mes")["Total Amount"].sum()
ventas_por_mes

Mes
1     36980
2     44060
3     28990
4     33870
5     53150
6     36715
7     35465
8     36960
9     23620
10    46580
11    34920
12    44690
Name: Total Amount, dtype: int64

In [20]:
ventas_por_mes.sort_values(ascending=False)

Mes
5     53150
10    46580
12    44690
2     44060
1     36980
8     36960
6     36715
7     35465
11    34920
4     33870
3     28990
9     23620
Name: Total Amount, dtype: int64

In [21]:
ventas_por_categoria = df.groupby("Product Category")["Total Amount"].sum()
ventas_por_categoria.sort_values(ascending=False)

Product Category
Electronics    156905
Clothing       155580
Beauty         143515
Name: Total Amount, dtype: int64

In [22]:
top_clientes = df.groupby("Customer ID")["Total Amount"].sum()
top_clientes.sort_values(ascending=False).head(10)

Customer ID
CUST946    2000
CUST626    2000
CUST634    2000
CUST773    2000
CUST420    2000
CUST416    2000
CUST743    2000
CUST742    2000
CUST595    2000
CUST065    2000
Name: Total Amount, dtype: int64